<!-- head.ejs: partial file for application views -->
<meta charset="utf-8"/>
<title>My Instagram application</title>
<!-- CSS: from Bootstrap CDN -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css"/>
<!-- CSS: main stylesheet file for the app -->
<link rel="stylesheet" href="css/style.css"/>
